<html>
<head>
<script src="lib/angular.min.js"></script>
<script src="lib/jquery-1.11.2.min.js"></script>
<script src="lib/bootstrap.min.js"></script>
<script src="lib/ui-bootstrap-tpls-0.12.1.min.js"></script>
<script src="lib/fn.js"></script>
<script src="lib/codemirror.js"></script>
<script src="lib/codemirror/mode/pascal.js"></script>
<script src="lib/angular/ui-codemirror.js"></script>
<script src="src/pl0_infinite.js?version=6d362ea"></script>
<script src="src/pl0_infinite/asm.js?version=6d362ea"></script>
<script src="src/pl0_infinite/compiler.js?version=6d362ea"></script>

<link rel="stylesheet" href="css/bootstrap.min.css">
<link rel="stylesheet" href="css/codemirror.css">
<style>
.code-error {
  color: red;
  white-space: pre;
}

.code {
  white-space: pre-wrap;
}

.errorline {
  background-color: #fcc;
}

</style>
</head>
<body>

<div ng-app="PL0InfiniteUI">
    <div ng-controller="MainController">
        <h3>PL/0  &#9733;&#9733;&#9733;  INFINITE &#9733;&#9733;&#9733;</h3>
        <textarea ui-codemirror="{lineNumbers: true, lineWrapping: true, mode: 'pascal', onLoad: codemirrorLoaded}" ng-model="code">
        </textarea>
        <h3>Results</h3>
        <p>
        <b ng-if="error"class="code-error">{{error}}</b>
        </p>
        <button ng-show="runner && runner.run" ng-click="run()">Run</button>
        <h3>Output</h3>
        <a ng-show="runner" ng-click="download_win32()">Download EXE (Win32)</a>
        <p class="code" ng-if="runner && runner.code">{{log}}</p>
    </div>
</div>

<script src="site/app.js?version=6d362ea"></script>
<script src="site/controllers.js?version=6d362ea"></script>

</body>